/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Theme */
/* Use this to name the color : https://chir.ag/projects/name-that-color/ */
:root {
    --base-font-size: 62.5%;
    --base-font-size-em: 0.625em;
    --base-line-height: 1.3;
    --base-spacing-xs: 0.4rem;
    --base-spacing-sm: 0.8rem;
    --base-spacing-md: 1.6rem;
    --base-spacing-lg: 2.4rem;
    --base-spacing-xl: 2.8rem;
    --base-spacing-xxl: 3.6rem;
    --color-white: #fff;
    --color-outrageous-orange: #ff5134;
    --font-fallback: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --font-title: ferveur;
    --font-body: montserrat, var(--font-fallback);
    --size-counter-ordered-list: 2rem;
    --type-base-font-size: 1.6rem;
    --type-base-font-size-text-m: 1.4rem;
    --type-base-font-size-text: 1.2rem;
    --type-base-font-size-text-xs: 1rem;
    --type-base-text: 500 var(--type-base-font-size-text) / var(--base-line-height) var(--font-body);
    --type-base-small-text: 500 var(--type-base-font-size-text-xs) / var(--base-line-height) var(--font-body);
    --type-h1: 900 var(--type-base-font-size-text-m) / var(--base-line-height) var(--font-title);
    --type-h2: 600 var(--type-base-font-size) / var(--base-line-height) var(--font-body);
    --type-h2-before: 800 var(--type-base-font-size-text) / var(--base-line-height) var(--font-body);
    --type-table-td-text: var(--type-base-small-text);
    --type-table-th-text: 600 var(--type-base-font-size-text-xs) / var(--base-line-height) var(--font-body);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-gallery: #ececec;
        --color-geyser: #d9dfe7;
        --color-prussian-blue: #00265a;
        --color-selago: #e8eefb;
        --color-tropical-blue: #d9e5f9;
        --color-waikaw-gray: #576F90;
        --body-background-color: var(--color-white);
        --body-color: var(--color-prussian-blue);
        --before-h2-color: var(--color-white);
        --before-background: linear-gradient(180deg, #007aff 0%, #003ffc 98.75%);
        --bet-table-wrapper-border-color: var(--color-geyser);
        --bet-table-wrapper-box-shadow: inset -0.2rem 0 0.2rem rgb(0 0 0 / 25%);
        --bet-table-tr-border-color: var(--color-geyser);
        --bet-table-tr-first-border-color: var(--color-white);
        --bet-table-thead-th-bg-color: var(--color-gallery);
        --bet-table-thead-th-border-color: var(--color-white);
        --bet-table-thead-th-first-bg-color: var(--color-tropical-blue);
        --bet-table-tbody-th-bg-color: var(--color-selago);
        --bet-table-td-bg-color: var(--color-white);
        --divider-bg-color: var(--color-geyser);
        --link-color: var(--color-prussian-blue);
        --prono-list-item-border-bt-color: var(--color-geyser);
        --prono-list-item-before-bg-color: var(--color-prussian-blue);
        --small-color: var(--color-waikaw-gray);
        --svg-color: var(--color-prussian-blue);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-chambray: #33517b;
        --color-cloud-burst-1: #1d2e46;
        --color-cloud-burst-2: #1c293d;
        --color-ebony: #121c2b;
        --color-pickled-bluewood: #2e415b;
        --color-san-juan: #324b6f;
        --body-background-color: var(--color-ebony);
        --body-color: var(--color-white);
        --before-h2-color: var(--color-white);
        --before-background: linear-gradient(180deg, #207dff 0%, #207dff 98.75%);
        --bet-table-wrapper-border-color: var(--color-san-juan);
        --bet-table-wrapper-box-shadow: none;
        --bet-table-tr-border-color: var(--color-san-juan);
        --bet-table-tr-first-border-color: var(--color-ebony);
        --bet-table-thead-th-bg-color: var(--color-cloud-burst-1);
        --bet-table-thead-th-border-color: var(--color-ebony);
        --bet-table-thead-th-first-bg-color: var(--color-cloud-burst-2);
        --bet-table-tbody-th-bg-color: var(--color-pickled-bluewood);
        --bet-table-td-bg-color: var(--color-ebony);
        --divider-bg-color: var(--color-san-juan);
        --link-color: var(--color-white);
        --prono-list-item-border-bt-color: var(--color-san-juan);
        --prono-list-item-before-bg-color: var(--color-chambray);
        --small-color: var( --color-white);
        --svg-color: var(--color-white);
    }
}

html {
    font-family: var(--font-body);
    font-size: var(--base-font-size);
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: var(--font-body);
    font-size: var(--type-base-font-size);
    line-height: var(--base-line-height);
    text-rendering: optimizeSpeed;
}

/* Generic */
.visually-hidden {
    clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
    clip-path: inset(50%);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}

.section-wrapper {
    padding: var(--base-spacing-md);
}

.divider {
    background-color: var(--divider-bg-color);
    border: 0;
    height: 0.1rem;
    margin: 0 var(--base-spacing-md);
}

.mb-md {
    margin-bottom: var(--base-spacing-md);
}

/* Heading */
.title-modal {
    font: var(--type-h1);
    margin-bottom: var(--base-spacing-lg);
}

.heading-h2 {
    font: var(--type-h2);
    margin-bottom: var(--base-spacing-sm);
    padding-left: var(--base-spacing-xxl);
    position: relative;
}

.heading-h2::before {
    align-items: center;
    background: var(--before-background);
    border-radius: 50%;
    color: var(--before-h2-color);
    display: flex;
    font: var(--type-h2-before);
    height: 2rem;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
}

.heading-h2--1::before {
    content: "1";
}

.heading-h2--2::before {
    content: "2";
}

.heading-h2--3::before {
    content: "3";
}

/* Paragraph */
.paragraph-text {
    font: var(--type-base-text);
}

/* Link text */
.link-text {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: underline;
}

/* Lists */
.caption-list {
    font: var(--type-base-small-text);
    margin-top: var(--base-spacing-xs);
}

.prono-list {
    font: var(--type-base-text);
}

.prono-list__item {
    border-bottom: 0.05rem solid var(--prono-list-item-border-bt-color);
    padding: var(--base-spacing-xs) 0 var(--base-spacing-xs) var(--base-spacing-lg);
    position: relative;
}

.prono-list__item::before {
    background: no-repeat center url(../images/chevron.svg) var(--prono-list-item-before-bg-color);
    border-radius: 50%;
    color: var(--color-white);
    content: "";
    font: var(--type-h2-before);
    height: 1.4rem;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
}

/* Ordered list */
.ordered-list {
    counter-reset: my-counter;
}

.ordered-list__item {
    counter-increment: my-counter;
    font-weight: 500;
    font-size: var(--type-base-font-size-text);
    margin-bottom: var(--base-spacing-md);
    padding-left: var(--base-spacing-xl);
    position: relative;
}

.ordered-list__item::before {
    align-items: center;
    background: var(--before-background);
    border-radius: 50%;
    color: var(--color-white);
    content: counter(my-counter);
    display: inline-flex;
    font-size: var(--type-base-font-size-text);
    font-weight: 600;
    height: var(--size-counter-ordered-list);
    justify-content: center;
    left: 0;
    position: absolute;
    width: var(--size-counter-ordered-list);
}

/* Table */
.bet-table-wrapper {
    border: 0.1rem solid var(--bet-table-wrapper-border-color);
    border-radius: 0.4rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 450px) {
    .bet-table-wrapper--with-box-shadow {
        box-shadow: var(--bet-table-wrapper-box-shadow);
    }

    .bet-table-wrapper--with-box-shadow > .bet-table {
        min-width: 417px;
    }
}

.bet-table {
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
    width: 100%;
    z-index: -1;
}

.bet-table tr {
    border-top: 0.1rem solid var(--bet-table-tr-border-color);
}

.bet-table tr:first-of-type {
    border-color: var(--bet-table-tr-first-border-color);
}

.bet-table thead tr {
    border: 0;
}

.bet-table th {
    font: var(--type-table-th-text);
}

.bet-table thead th {
    background-color: var(--bet-table-thead-th-bg-color);
    border-left: 0.1rem solid var(--bet-table-thead-th-border-color);
    height: 4.4rem;
    padding: var(--base-spacing-xs);
}

.bet-table thead th:first-of-type {
    background-color: var(--bet-table-thead-th-first-bg-color);
    border-left: 0;
    left: 0;
    position: sticky;
}

.bet-table tbody th {
    background-color: var(--bet-table-tbody-th-bg-color);
    left: 0;
    padding: 0 var(--base-spacing-xs);
    position: sticky;
}

.bet-table td {
    background-color: var(--bet-table-td-bg-color);
    font: var(--type-table-td-text);
    height: 5.6rem;
    padding: 0 var(--base-spacing-xs);
    text-align: center;
}

@media (max-width: 480px) {
    .bet-table--1 th:nth-child(1) {
        width: 6rem;
    }
    
    .bet-table--1 th:nth-child(2) {
        width: 7rem;
    }
    
    .bet-table--2 th:nth-child(1) {
        width: 7.2rem;
    }
    
    .bet-table--2 th:nth-child(2) {
        width: 8rem;
    }
    
    .bet-table--2 th:nth-child(3),
    .bet-table--2 th:nth-child(4) {
        width: 8.7rem;
    }
    
    .bet-table--2 th:nth-child(5) {
        width: 9rem;
    }
    
    .bet-table--3 th {
        width: 5.4rem;
    }
    
    .bet-table--3 th:first-of-type {
        width: 10rem;
    }

    .bet-table--3 th:last-of-type {
        width: 8.2rem;
    }

    .bet-table--4 th:nth-child(1) {
        width: 6rem;
    }
}

/* Warning block */
.warning-block {
    display: inline-flex;
}

.warning-svg {
    fill: var(--svg-color);
    flex-shrink: 0;
}

.warning-text {
    font-size: var(--type-base-font-size-text);
    font-weight: 700;
    margin-bottom: var(--base-spacing-md);
    margin-left: var(--base-spacing-sm);
}

.warning-text p:first-of-type {
    margin-bottom: var(--base-spacing-sm);
}

/* Supplement text */
.small-text {
    color: var(--small-color);
    font: var(--type-base-small-text);
}

/* Color text */
.color-text {
    color: var(--color-outrageous-orange);
    font-weight: 700;
}