/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Theme */
/* Use this to name the color : https://chir.ag/projects/name-that-color/ */
:root {
    --base-font-size: 62.5%;
    --base-font-size-em: 0.625em;
    --base-line-height: 1.3;
    --base-spacing-xs: 0.4rem;
    --base-spacing-sm: 0.8rem;
    --base-spacing-md: 1.6rem;
    --base-spacing-lg: 2.4rem;
    --base-spacing-xl: 2.8rem;
    --base-spacing-xxl: 3.6rem;
    --color-azure-radiance: #007aff;
    --color-blue-ribbon: #003ffc;
    --color-outrageous-orange: #ff5134;
    --color-white: #fff;
    --font-fallback: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --font-title: ferveur;
    --font-body: montserrat, var(--font-fallback);
    --font-cotes: ferveur-cotes;
    --size-counter-ordered-list: 2rem;
    --type-base-font-size: 1.6rem;
    --type-base-font-size-text-m: 1.4rem;
    --type-base-font-size-text: 1.2rem;
    --type-base-font-size-text-xs: 1rem;
    --type-base-text: 500 var(--type-base-font-size-text) / var(--base-line-height) var(--font-body);
    --type-base-small-text: 500 var(--type-base-font-size-text-xs) / var(--base-line-height) var(--font-body);
    --type-h1: 900 var(--type-base-font-size-text-m) / var(--base-line-height) var(--font-title);
    --type-h2: 600 var(--type-base-font-size) / var(--base-line-height) var(--font-body);
    --type-h2-before: 800 var(--type-base-font-size-text) / var(--base-line-height) var(--font-body);
    --type-h2--section-title: var(--type-base-font-size) / var(--base-line-height) var(--font-title);
    --type-h3: 700 var(--type-base-font-size) / var(--base-line-height) var(--font-body);
    --type-table-td-text: var(--type-base-small-text);
    --type-table-th-text: 600 var(--type-base-font-size-text-xs) / var(--base-line-height) var(--font-body);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-atlantis: #69d73c;
        --color-gallery: #ececec;
        --color-geyser: #d9dfe7;
        --color-orange: #ff5722;
        --color-prussian-blue: #00265a;
        --color-selago: #e8eefb;
        --color-selago-bis: #f2f6fd;
        --color-tropical-blue: #d9e5f9;
        --color-waikaw-gray: #576F90;
        --body-background-color: var(--color-white);
        --body-color: var(--color-prussian-blue);
        --before-background: linear-gradient(180deg, #007aff 0%, var(--color-blue-ribbon) 98.75%);
        --before-h2-color: var(--color-white);
        --before-outcome-type-border: var(--color-white);
        --bet-table-wrapper-border-color: var(--color-geyser);
        --bet-table-wrapper-box-shadow: inset -0.2rem 0 0.2rem rgb(0 0 0 / 25%);
        --bet-table-tr-border-color: var(--color-geyser);
        --bet-table-tr-first-border-color: var(--color-white);
        --bet-table-thead-th-bg-color: var(--color-gallery);
        --bet-table-thead-th-border-color: var(--color-white);
        --bet-table-thead-th-first-bg-color: var(--color-tropical-blue);
        --bet-table-tbody-th-bg-color: var(--color-selago);
        --bet-table-td-bg-color: var(--color-white);
        --bet-table-sample-thead-th-bg-color: var(--color-tropical-blue);
        --block-example-bgcolor: var(--color-selago-bis);
        --block-example-color: var(--color-prussian-blue);
        --button-primary-bg-color: var(--color-blue-ribbon);
        --button-primary-color: var(--color-white);
        --divider-bg-color: var(--color-geyser);
        --highlight-text-color: var(--color-blue-ribbon);
        --link-color: var(--color-prussian-blue);
        --outcome-bgcolor: var(--color-white);
        --outcome-border: var(--color-atlantis);
        --outcome-selected-bg-color: var(--color-orange);
        --outcome-selected-border: var(--color-orange);
        --outcome-type-bgcolor: var(--color-atlantis);
        --outcome-type-color: var(--color-prussian-blue);
        --prono-list-item-border-bt-color: var(--color-geyser);
        --prono-list-item-before-bg-color: var(--color-prussian-blue);
        --small-color: var(--color-waikaw-gray);
        --svg-color: var(--color-prussian-blue);
        --stepper-bg-color: rgba(0, 25, 100, 0.80);
    }

    /*
    Don't use var for urls because of a bug on Safari iOS 15.2, see:
     - https://atla.prod.fdj.fr:1443/jira/browse/PSPDVA-6152
     - https://stackoverflow.com/questions/60098790/relative-url-in-css-var-works-wrong-on-ios
    */
    .img-validate-bets-step-1 {
        background-image: url('../images/how-to-play/validate-bets-step-1-light.png');
    }

    .img-validate-bets-step-2 {
        background-image: url('../images/how-to-play/validate-bets-step-2-light.png');
    }

    .img-validate-bets-step-3 {
        background-image: url('../images/how-to-play/validate-bets-step-3-light.png');
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-chambray: #33517b;
        --color-cloud-burst-1: #1d2e46;
        --color-cloud-burst-2: #1c293d;
        --color-coral: #ff8f4a;
        --color-dodger-blue: #207dff;
        --color-ebony: #121c2b;
        --color-pastel-green: #89e067;
        --color-pickled-bluewood: #2e415b;
        --color-san-juan: #324b6f;
        --body-background-color: var(--color-ebony);
        --body-color: var(--color-white);
        --before-background: linear-gradient(180deg, var(--color-dodger-blue) 0%, var(--color-dodger-blue) 98.75%);
        --before-h2-color: var(--color-white);
        --before-outcome-type-border: var(--color-ebony);
        --bet-table-wrapper-border-color: var(--color-san-juan);
        --bet-table-wrapper-box-shadow: none;
        --bet-table-tr-border-color: var(--color-san-juan);
        --bet-table-tr-first-border-color: var(--color-ebony);
        --bet-table-thead-th-bg-color: var(--color-cloud-burst-1);
        --bet-table-thead-th-border-color: var(--color-ebony);
        --bet-table-thead-th-first-bg-color: var(--color-cloud-burst-2);
        --bet-table-tbody-th-bg-color: var(--color-pickled-bluewood);
        --bet-table-td-bg-color: var(--color-ebony);
        --bet-table-sample-thead-th-bg-color: var(--color-cloud-burst-2);
        --block-example-bgcolor: var(--color-cloud-burst-1);
        --block-example-color: var(--color-white);
        --button-primary-bg-color: #8aa7ff;
        --button-primary-color: #142129;
        --divider-bg-color: var(--color-san-juan);
        --highlight-text-color: var(--color-dodger-blue);
        --link-color: var(--color-white);
        --outcome-bgcolor: var(--color-ebony);
        --outcome-border: var(--color-pastel-green);
        --outcome-selected-bg-color: var(--color-coral);
        --outcome-selected-border: var(--color-coral);
        --outcome-type-bgcolor: var(--color-pastel-green);
        --outcome-type-color: var(--color-ebony);
        --prono-list-item-border-bt-color: var(--color-san-juan);
        --prono-list-item-before-bg-color: var(--color-chambray);
        --small-color: var( --color-white);
        --svg-color: var(--color-white);
        --stepper-bg-color: rgba(29, 46, 70, 0.80);
    }

    .img-validate-bets-step-1 {
        background-image: url('../images/how-to-play/validate-bets-step-1-dark.png');
    }

    .img-validate-bets-step-2 {
        background-image: url('../images/how-to-play/validate-bets-step-2-dark.png');
    }

    .img-validate-bets-step-3 {
        background-image: url('../images/how-to-play/validate-bets-step-3-dark.png');
    }
}

html {
    font-family: var(--font-body);
    font-size: var(--base-font-size);
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: var(--font-body);
    font-size: var(--type-base-font-size);
    line-height: var(--base-line-height);
    text-rendering: optimizeSpeed;
}

/* Generic */
.visually-hidden {
    clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
    clip-path: inset(50%);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}

.section-wrapper {
    padding: var(--base-spacing-md);
}

.divider {
    background-color: var(--divider-bg-color);
    border: 0;
    height: 0.1rem;
    margin: 0 var(--base-spacing-md);
}

/* Heading */
.title-modal {
    font: var(--type-h1);
    margin-bottom: var(--base-spacing-lg);
}

.heading-h2 {
    font: var(--type-h2);
    margin-bottom: var(--base-spacing-sm);
    padding-left: var(--base-spacing-xxl);
    position: relative;
}

.heading-h2--section-title {
    font: var(--type-h2--section-title);
    margin-bottom: var(--base-spacing-md);
}

.heading-h2::before {
    align-items: center;
    background: var(--before-background);
    border-radius: 50%;
    color: var(--before-h2-color);
    display: flex;
    font: var(--type-h2-before);
    height: 2rem;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
}

.heading-h2--1::before {
    content: "1";
}

.heading-h2--2::before {
    content: "2";
}

.heading-h2--3::before {
    content: "3";
}

.heading-h3 {
    font: var(--type-h3);
    margin-bottom: var(--base-spacing-md);
}

/* Paragraph */
.paragraph-text {
    font: var(--type-base-text);
}

/* Link text */
.link-text {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: underline;
}

/* Lists */
.caption-list {
    font: var(--type-base-small-text);
    margin-top: var(--base-spacing-xs);
}

.prono-list {
    font: var(--type-base-text);
}

.prono-list__item {
    border-bottom: 0.05rem solid var(--prono-list-item-border-bt-color);
    padding: var(--base-spacing-xs) 0 var(--base-spacing-xs) var(--base-spacing-lg);
    position: relative;
}

.prono-list__item::before {
    background: no-repeat center url(../images/chevron.svg) var(--prono-list-item-before-bg-color);
    border-radius: 50%;
    color: var(--color-white);
    content: "";
    font: var(--type-h2-before);
    height: 1.4rem;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
}

/* Ordered list */
.ordered-list {
    counter-reset: my-counter;
}

.ordered-list__item {
    counter-increment: my-counter;
    font-weight: 500;
    font-size: var(--type-base-font-size-text);
    margin-bottom: var(--base-spacing-md);
    padding-left: var(--base-spacing-xl);
    position: relative;
}

.ordered-list__item::before {
    align-items: center;
    background: var(--before-background);
    border-radius: 50%;
    color: var(--color-white);
    content: counter(my-counter);
    display: inline-flex;
    font-size: var(--type-base-font-size-text);
    font-weight: 600;
    height: var(--size-counter-ordered-list);
    justify-content: center;
    left: 0;
    position: absolute;
    width: var(--size-counter-ordered-list);
}

/* Table */
.bet-table-wrapper {
    border: 0.1rem solid var(--bet-table-wrapper-border-color);
    border-radius: 0.4rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 450px) {
    .bet-table-wrapper--with-box-shadow {
        box-shadow: var(--bet-table-wrapper-box-shadow);
    }

    .bet-table-wrapper--with-box-shadow > .bet-table {
        min-width: 417px;
    }
}

.bet-table {
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
    width: 100%;
    z-index: -1;
}

.bet-table tr {
    border-top: 0.1rem solid var(--bet-table-tr-border-color);
}

.bet-table tr:first-of-type {
    border-color: var(--bet-table-tr-first-border-color);
}

.bet-table thead tr {
    border: 0;
}

.bet-table th {
    font: var(--type-table-th-text);
}

.bet-table thead th {
    background-color: var(--bet-table-thead-th-bg-color);
    border-left: 0.1rem solid var(--bet-table-thead-th-border-color);
    height: 4.4rem;
    padding: var(--base-spacing-xs);
}

.bet-table thead th:first-of-type {
    background-color: var(--bet-table-thead-th-first-bg-color);
    border-left: 0;
    left: 0;
    position: sticky;
}

.bet-table tbody th {
    background-color: var(--bet-table-tbody-th-bg-color);
    left: 0;
    padding: 0 var(--base-spacing-xs);
    position: sticky;
}

.bet-table td {
    background-color: var(--bet-table-td-bg-color);
    font: var(--type-table-td-text);
    height: 5.6rem;
    padding: 0 var(--base-spacing-xs);
    text-align: center;
}

/* table version 5 with normal height */
.bet-table--sample thead th,
.bet-table--sample td {
    height: 2.4rem;
}

.bet-table--sample thead th {
    background-color: var(--bet-table-sample-thead-th-bg-color);
}

@media (max-width: 480px) {
    .bet-table--1 th:nth-child(1) {
        width: 6rem;
    }
    
    .bet-table--1 th:nth-child(2) {
        width: 7rem;
    }
    
    .bet-table--2 th:nth-child(1) {
        width: 7.2rem;
    }
    
    .bet-table--2 th:nth-child(2) {
        width: 8rem;
    }
    
    .bet-table--2 th:nth-child(3),
    .bet-table--2 th:nth-child(4) {
        width: 8.7rem;
    }
    
    .bet-table--2 th:nth-child(5) {
        width: 9rem;
    }
    
    .bet-table--3 th {
        width: 5.4rem;
    }
    
    .bet-table--3 th:first-of-type {
        width: 10rem;
    }

    .bet-table--3 th:last-of-type {
        width: 8.2rem;
    }

    .bet-table--4 th:nth-child(1) {
        width: 6rem;
    }
}

/* Warning block */
.warning-block {
    display: inline-flex;
}

.warning-svg {
    fill: var(--svg-color);
    flex-shrink: 0;
}

.warning-text {
    font-size: var(--type-base-font-size-text);
    font-weight: 700;
    margin-bottom: var(--base-spacing-md);
    margin-left: var(--base-spacing-sm);
}

.warning-text p:first-of-type {
    margin-bottom: var(--base-spacing-sm);
}

/* Supplement text */
.small-text {
    color: var(--small-color);
    font: var(--type-base-small-text);
}

/* Color text */
.color-text {
    color: var(--color-outrageous-orange);
    font-weight: 700;
}

.highlight-text {
    color: var(--highlight-text-color);
}

/* example */
.block-example {
    background-color: var(--block-example-bgcolor);
    border-radius: 1.6rem;
    color: var(--block-example-color);
    display: flex;
    flex-direction: column;
    gap: var(--base-spacing-md);
    padding: var(--base-spacing-md);
    margin-bottom: var(--base-spacing-md);
}

.block-example--list {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.block-example_title {
    font-family: var(--font-title);
    font-size: var(--type-base-font-size-text-m);
    text-align: center;
}

.img-example {
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0 0 auto;
}

.img-validate-bets-step-1 {
    height: 9.4rem;
    margin-right: -.7rem;
    width: 13.6rem;
}

.img-validate-bets-step-2 {
    height: 10.5rem;
    margin-left: -.8rem;
    margin-right: -1.3rem;
    width: 14.9rem;
}

.img-validate-bets-step-3 {
    height: 15.4rem;
    margin-left: -1.5rem;
    margin-right: -.8rem;
    width: 15.1rem;
}

.img-validate-bets-step-4 {
    background-image: url('../images/how-to-play/validate-bets-step-4.png');
    height: 13.4rem;
    width: 12.8rem;
}

.img-validate-bets-step-5 {
    background-image: url('../images/how-to-play/validate-bets-step-5.png');
    height: 11.5rem;
    width: 13.2rem;
}

/* event item - match */
.event-item_match {
    display: flex;
    gap: var(--base-spacing-sm);
}

.event-item_infos {
    flex: 1;
}

.event-item_title {
    font-size: var(--type-base-font-size-text-m);
    font-weight: 700;
}

.event-item_league {
    align-items: center;
    display: inline-flex;
    font: var(--type-base-text);
    gap: var(--base-spacing-sm);
    margin-bottom: var(--base-spacing-xs);
}

.event-item_time-bets {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.event-item_time,
.event-item_handicap {
    align-self: center;
    font: var(--type-base-small-text);
}

.event-item_more-bets {
    align-items: center;
    display: inline-flex;
    gap: var(--base-spacing-xs);
    font-size: var( --type-base-font-size-text);
    white-space: nowrap;
}

.event-item_arrow path {
    fill: var(--highlight-text-color);
}

/* market */
.event-item_markets {
    align-items: center;
    display: flex;
    gap: var(--base-spacing-sm);
    justify-content: center;
    margin-top: var(--base-spacing-sm);
}

/* outcome */
.outcome {
    background-color: var(--outcome-bgcolor);
    border: .2rem solid var(--outcome-border);
    display: inline-flex;
    padding: .2rem .6rem .2rem .2rem;
    flex: 1;
}

.outcome_type {
    align-items: center;
    background-color: var(--outcome-type-bgcolor);
    color: var(--outcome-type-color);
    display: inline-flex;
    font-size: var(--type-base-font-size-text-m);
    font-weight: 600;
    justify-content: center;
    position: relative;
}

.outcome .outcome_type::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent var(--before-outcome-type-border) transparent;
    border-width: 0 0 2.8rem var(--base-spacing-sm); 
    bottom: 0;
    position: absolute;
    right: 0;
}

.outcome .outcome_type {
    height: 2.8rem;
    padding-right: var(--base-spacing-sm);
    min-width: 2.4rem;
    max-width: 3.4rem;
    width: 100%;
}

.outcome_value {
    align-items: center;
    display: inline-flex;
    flex: 1;
    font-family: var(--font-cotes);
    font-size: 1.3rem;
    justify-content: center;
    margin-left: var(--base-spacing-xs);
}

.outcome.selected {
    background-color: var(--outcome-selected-bg-color);
    border-color: var(--outcome-selected-border);
}

.outcome.selected .outcome_type {
    background-color: var(--outcome-selected-bg-color);
    color: var(--color-white);
}

.outcome.selected .outcome_type::before {
    border: 0 none;
}

.outcome.selected .outcome_value {
    color: var(--color-white);
}

/* Options list */
.options-list {
    display: flex;
    flex-direction: column;
    gap: var(--base-spacing-sm);
}

.options-list li {
    align-items: center;
    display: inline-flex;
}

.options-list .outcome_type {
    flex: 0 0 auto;
    height: 2.4rem;
    margin-right: var(--base-spacing-sm);
    width: 2.4rem;
}

/* list */
.list {
    list-style: unset;
}

/* Stepper / Progress bar */
.stepper {
    background-color: var(--stepper-bg-color);
    border-radius: 10rem;
    padding: var(--base-spacing-sm);
    transition: .5s linear;  
    transition-property: width, background-color; 
}

.stepper_content {
    background-color: #576f90;
    border-radius: 10rem;
    height: .8rem;
    position: relative;
}

.stepper_content:after {
    content: '';
    background-color: var(--color-white);
    border-radius: 10rem;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

/* Button */
.button {
    align-items: center;
    border: 0 none;
    border-radius: .6rem;
    display: inline-flex;
    font-family: var(--font-body);
    font-size: 1.8rem;
    font-weight: 600;
    padding: var(--base-spacing-sm) var(--base-spacing-md);
    text-decoration: none;
}

.button--primary {
    background-color: var(--button-primary-bg-color);
    color: var(--button-primary-color);
    min-height: 4.8rem;
}

.button--primary:hover,
.button--primary:focus {
    background-color: rgba(0, 53, 211, 1);
}

/* Unit class */
.mb-sm {
    margin-bottom: var(--base-spacing-sm);
}

.mb-md {
    margin-bottom: var(--base-spacing-md);
}

.mt-sm {
    margin-top: var(--base-spacing-sm);
}

.pl-lg {
    padding-left: var(--base-spacing-lg);
}

.pl-0 {
    padding-left: 0;
}
